footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natour Logo')
    ul.footer__nav
        li: a(href='https://documenter.getpostman.com/view/21502975/2s7Z7YKaTi#26961417-6ffe-4ead-8728-c1c83c50fdb5') This front-end is for demonstration purposes. Check the full API features in postman
        li: a(href='https://www.linkedin.com/in/gonzaloarossi/') Linkedin
        li: a(href='https://github.com/GonzaloArielRossi/natours-app') Github
        li: p.footer__copyright &copy; by Gonzalo Ariel Rossi
