extends base
include _reviewCardUser

block content
    main.main
        .reviews__users
            if reviews.length === 0
                .error
                .error__title
                  h2.heading-secondary.heading-secondary--error No reviews yet
            each review in reviews
                +reviewCardUser(review)